<div  class="row" style="background-color: rgba(245, 244, 244, 0.918);">
    <div class="col-sm-4">
        <div class="image-container">
            <div *ngFor="let item of items" class="mySlides {{id}}">
                <img src="{{item}}" class="image-class">
            </div>
            
              <a *ngIf="items.length > 1" class="prev" (click)="plusSlides(-1)">&#10094;</a>
              <a *ngIf="items.length > 1" class="next" (click)="plusSlides(1)">&#10095;</a>
            </div>
        </div>
    <div class="col-sm-6">
        <div class="text-wrapper">
            <h1>{{title}}</h1>
            <h4 class="players" *ngIf="players.length >= 2">{{players[0]}}-{{players[1]}} players</h4>
            <h4 class="players" *ngIf="players.length == 1">{{players[0]}} players</h4>
            <p class="description">{{description}}</p>
            <p class="type-class">{{type}}</p>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="price-wrapper">
            <p>Price: {{price}}</p>
            <a *ngIf="video != ''" target="_blank" href="{{video}}">How to Play</a>
        </div>
    </div>
</div>

