<div  class="row" style="background-color: #eee;">
    <div class="col-sm-4">
        <div class="image-container">
            <img src={{imagePath}} class="image-class">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="text-wrapper">
            <h1>{{title}}</h1>
            <h4 class="players">{{players}} players</h4>
            <p class="description">{{description}}</p>
            <p class="type-class">{{type}}</p>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="price-wrapper">
            <p>Price: {{price}}</p>
        </div>
    </div>
</div>

