.image-class {
    width: 70% !important;
    height: 60% !important;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.image-container {
    justify-content: center;
    text-align: center;
}

.text-wrapper {
    margin-top: 20px;
}

.players {
    color: grey;
}

.description {
    text-align: left;
}


.type-class {
    text-align: right !important;
    color: grey
}

.price-wrapper {
    margin-top: 40px;
}

.row {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    margin: auto;
    border-radius: 40px;
  } 

  .col-sm-4 {
      vertical-align: center;
  }