<div  class="row" style="background-color: #eee;">
    <div class="col-sm-4">
        <div class="image-container">
            <div *ngFor="let item of items" class="mySlides">
                <img src="{{item}}" class="image-class">
            </div>
            
              <!-- Next and previous buttons -->
              <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
              <a class="next" (click)="plusSlides(1)">&#10095;</a>
            </div>
        </div>
    <div class="col-sm-6">
        <div class="text-wrapper">
            <h1>{{title}}</h1>
            <h4 class="players">{{players}} players</h4>
            <p class="description">{{description}}</p>
            <p class="type-class">{{type}}</p>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="price-wrapper">
            <p>Price: {{price}}</p>
        </div>
    </div>
</div>

