<h1 class="text-center m-3">About Us</h1>

<div class="text-center m-3">
    <h3>We are Not Bored Board Games!</h3>
    <div class="p-1 mr-4 ml-4 mb-4 text-wrapper" >
        <p>We love board games, and we think everyone should. We also understand how hard it is to try new games, and with each game costing around $50, it isn't exactly easy on the wallet either
            Thats why we came up with Not Bored Board Games! Now you can try any game you want from our catalog of board and card games for a fraction of the cost!
        </p>
        <p>Renting from us is easy, and a great option for family fun, a game night, or just a fun date!</p>
        <p>We have a plethera of games to choose from, and once you are done with one, you can simply pick another!</p>
    </div>
    <div>
        <h3>Don't know how to play?</h3>
        <p>We also want you to have as much fun as possible, and as such we provide an instructional video to almost every game we rent! That way you don't need to worry about picking up a game you 
            have never played before, because we've got you covered!
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8Yj0Y3GKE40" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>