<h1 class="text-center m-3">About Us</h1>

<div class="text-center m-3">
    <h3>We are Not Bored Board Games!</h3>
    <img src="../../assets/logo.png" class="logoImage"/>
    <div class="p-1 mr-4 ml-4 mb-4 text-wrapper" >
        <p>Welcome to Not Bored Board Games! We are a game rental company in the Provo area trying to help you have lots of fun during this crazy time of life! We have 60 different games, and counting! Check out all of our different games, use the filters to help find exactly what you are looking for, and you get an awesome game for two nights for only $5 or less! Payment via Venmo.</p>
        <p><strong>How it Works:</strong> Choose a game, text us at (385) 236-1305. Let us know what game you want and for which two nights you’d like to have it. We will then set up a time to deliver it right to your door. Must complete Venmo payment before game hand-off.</p>
    </div>
    <div>
        <h3>Don't know how to play?</h3>
        <p>We also want you to have as much fun as possible, and as such we provide an instructional video to almost every game we rent! That way you don't need to worry about picking up a game you 
            have never played before, because we've got you covered!
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8Yj0Y3GKE40" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>