    <div class="container">
      <!-- Resources -->
      <h1 class="text-center m-3">Games</h1>
      <h5 class="m-3 text-center">The price listed for each game includes 2 nights. After that, each subsequent night will result in a charge of an extra $2 for each subsequent night. 
        Not all board games will be available at all times, so double check with us to see the availability of each board game.</h5>
      <h5 class="ml-3">Filters:</h5>

      <div class="btn-group ml-3">
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-outline-primary" ngbDropdownToggle>{{currentPriceFilter}}</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let priceFilter of priceFilters" (click)="changePriceFilter(priceFilter)">{{priceFilter}}</button>
          </div>
        </div>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-outline-primary" ngbDropdownToggle>{{currentPlayerFilter}}</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let playerFilter of playerFilters" (click)="changePlayerFilter(playerFilter)">{{playerFilter}}</button>
          </div>
        </div>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-outline-primary" ngbDropdownToggle>{{currentTypeFilter}}</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let typeFilter of typeFilters" (click)="changeTypeFilter(typeFilter)">{{typeFilter}}</button>
          </div>
        </div>
      </div>

  
          <div class="container" style="width: 100%">
            <div *ngFor="let game of filteredGames">
              <app-game-section [title]='game.title'
                                [price]='game.price'
                                [players]="getPlayers(game.players)" 
                                [type]="game.type"
                                [description]="game.description" 
                                [items]="game.items" 
                                [video]="game.video"
          ></app-game-section>
        </div>
      </div>
    </div>
    