    <div class="container">
      <!-- Resources -->
      <h1 class="m-3">Games</h1>
      <h5 class="ml-3">Filters:</h5>
  
      <div class="btn-group">
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-outline-primary" ngbDropdownToggle>{{currentPriceFilter}}</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let priceFilter of priceFilters" (click)="changePriceFilter(priceFilter)">{{priceFilter}}</button>
          </div>
        </div>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-outline-primary" ngbDropdownToggle>Or me</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let priceFilter of priceFilters" (click)="changePriceFilter(priceFilter)">{{priceFilter}}</button>
          </div>
        </div>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-outline-primary" ngbDropdownToggle>{{currentTypeFilter}}</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let typeFilter of typeFilters" (click)="changeTypeFilter(typeFilter)">{{typeFilter}}</button>
          </div>
        </div>
      </div>
  
      <p>Here are some links to help you get started:</p>
          <div class="container" style="width: 100%">
            <div *ngFor="let game of filteredGames">
              <app-game-section [title]='game.title'
                                [price]='game.price'
                                [players]="game.players" 
                                [type]="game.type" 
                                [description]="game.description" 
                                [items]="game.items" 
                                [video]="game.video"
          ></app-game-section>
        </div>
      </div>
    </div>
    